<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageOwner.username %>'s Profile </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> <%= pageOwner.username %>'s Profile</h1>
       
    <% if(pageOwner.inventory && pageOwner.inventory.length > 0) { %> 
        <p> Currently stocked with:</p>
        <ul>
            <% pageOwner.inventory.forEach((item) => { %>
                <li><%= item.name %> - <%=item.quantity %> </li>           
              <% }) %>  
        </ul>
       <% } else { %>
        <p>There are no items in inventory.</p>
        <% } %>
    <a href='/trips'> Go To My Trips</a>
    <a href='/users/<%= user._id %>/items '> Edit My Inventory</a>

   
  </body>
  </html>


