<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a list for <%= trip.destination %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New List to Trip: <%= trip.destination %></h1>
    <form action ="/trips/<%=trip._id %>/lists" method ="POST">
        <div>
            <label for="description"> List Description:</label>
            <input type="text" id="description" name="description" required> 
       </div>
     <h2>Select Items from Inventory</h2>
     <% if(inventory && inventory.length > 0) { %>
    <ul>
        <%inventory.forEach(item=> { %>
            <li>
                <label>
                    <input type = 'checkbox' name = 'items' value = 'item._id%>'>
                    <%= item.name %>
                </label>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>You have no items in your inventory.</p>
    <% } %> 
<button type="submit"> Add List</button>

            </body>
            </html> 


