<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Trip - <%= trip.destination %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Trip - <%= trip.name %></h1>
    <form action="/trips/<%= trip._id %>?_method=PUT" method="POST">
        Destination: <input type="text" name="name" value="<%= trip.destination %>"><br>
        Duration: <textarea name="duration"><%= trip.duration %></textarea><br>

        <!-- Checkbox List f -->
        <h2>Lists</h2>
        <% allLists.forEach(list => { %>
            <div>
                <input 
                    type="checkbox" 
                    name="ingredients" 
                    value="<%= ingredient._id %>" 
                    id="ingredient_<%= ingredient._id %>"
                    <% if (recipe.ingredients.some(ing => ing._id.equals(ingredient._id))) { %> checked <% } %>
                >
                <label for="ingredient_<%= ingredient._id %>"><%= ingredient.name %></label>
            </div>
        <% }); %>
        <br>

        <input type="submit" value="Update Recipe">
    </form>
</body>
</html>