<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Trip - <%= trip.destination %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Trip - <%= trip.destination %></h1>
    <form action="/trips/<%= trip._id %>?_method=PUT" method="POST">
        Destination: <input type="text" name="destination" value="<%= trip.destination %>"><br>
        Duration: <textarea name="duration"><%= trip.duration %></textarea><br>

        <!-- Checkbox List f -->
        <h2>Lists</h2>
        <% allLists.forEach(list => { %>
            <div>
                <input 
                    type="checkbox" 
                    name="lists" 
                    value="<%= list._id %>" 
                    id="list_<%= list._id %>"
                    <% if (trip.lists.some(lis => lis._id.equals(list._id))) { %> checked <% } %>
                >
                <label for="list_<%= list._id %>"><%=list.name %></label>
            </div>
        <% }); %>
        <br>

        <input type="submit" value="Update Trip">
    </form>
</body>
</html>