
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Edit List - <%= list.name %></title>
    <link rel="stylesheet" href="/css/listedit.css"> 

</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Packing list for <%=trip.destination %></h1>
  
    
      <form action="/trips/<%=trip._id %>/lists/<%=list._id %>?_method=PUT" method = "POST" class="edit-list-form"> 
        <input type="hidden" name="_method" value="PUT" />
<div id="list-name">
        <label for="list-name">List Name:</label>
        <input type="text"  name="listName" value = '<%=list.name %>' required/>
      </div>
     
            <% list.items.forEach((item, index) => { %>
            <div id= 'item-group'>
                <label for="itemName<%= index %>"> Item Name:</label>
                <input type="text" name="items[<%=index %>][name]" id="itemName<%= index %>" value = '<%= item.name %>' required>
            
                <label for="itemQuantity<%=index %>">Quantity:</label>
                <input type="number" name="items[<%=index %>] [quantity]" id="itemQuantity<%=index%>" value="<%=item.quantity %>" required>

            </div>
        <% }) %>
        </div>
        

<button type ='button' onclick="addItem()"> Add another item </button>
<button type="submit"> Save List </button> 
  
</form>
     

<%list.items.forEach(item=> { %>
<div id="item-spec">
<p> <%=item.name %> - Quantity: <%=item.quantity %></p>
<form action="/trips/<%=trip._id %>/lists/<%= list._id%>/items/<%=item._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Item</button>
</div> 
</form>



<% }) %> 
        
        <script>
            function addItem() {
              const itemContainer=document.getElementById('items-container');
              const itemCount=itemContainer.children.length;
          
              const newItemGroup= document.createElement('div');
              newItemGroup.className='item-group';
              
              newItemGroup.innerHTML=`
              <label for="itemNames${itemCount +1}">Item Name: </label>
              <input type="text" name="items[${itemCount}] [name] id="itemName${itemCount +1}" required>
              <label for ="itemQuantity${itemCount +1}"> Quantity:</label>
              <input type="number" name="items[${itemCount}] [quantity]" id="itemQuantity${itemCount +1}" required>
              `;
              itemContainer.appendChild(newItemGroup); 

              const lastItemGroup = itemContainer.lastElementChild;
  const nameInput = lastItemGroup.querySelector('input[name$="[name]"]');
  const quantityInput = lastItemGroup.querySelector('input[name$="[quantity]"]');
  if (quantityInput) quantityInput.value = '';
            }

             
          </script> 


        </body>
        <a href="/trips/<%=trip._id %>" id="back">Back to Trip details</a>
</html>


