<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Trip - <%= trip.destination %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
   
    <h1>Edit Trip - <%= trip.destination %></h1>
    
    <form action="/trips/<%= trip._id %>?_method=PUT" method="POST">
        Destination: <input type="text" name="destination" value="<%= trip.destination %>"><br>
        Duration: <textarea name="duration"><%= trip.duration %></textarea><br>
        <input type ='submit' value="Update Trip"> 
    </form> 
    
    <h2> Lists </h2>
        <%if (trip.lists && trip.lists.length > 0) { %>
        <ul>
            <% trip.lists.forEach(list => { %>
                <li>
                    <%= list.description %>
                    <a href="/trips/<%= trip._id %>/lists/<%= list._id %>/edit"> Edit</a>
                 <form action="/trips/<%=trip._id %>/lists/<%=list._id %>?_method=DELETE" method = "POST"   
                    style = "display:inline">
                <button type="submit"> Delete </button>
            </form>
                </li>
            <% }) %>
        </ul>
   <% } else { %>
        <p>No lists yet</p>
        <% } %>
    
        <h2> Add New List </h2>
        <form action="/trips/<%=trip._id %>/lists" method="POST">
        Description: <input type="text" name="description" placeholder = 'Add list description'> <br> </input type>
        <input type ='submit' value = 'Add List'> 
       <button type="submit">Add List</button></form>
       <input type="submit" value="Update Trip">
    </form>
</body>
</html>




