<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= trip.destination %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= trip.destination %></h1>
    <h2> <%= trip.duration %> days</h2>

    <h2>Packing Lists</h2>
    <% if (trip.lists.length > 0) { %>
      <ul>
        <% trip.lists.forEach((list) => { %>
          <h3><%= list.name %></h3>
          <ul>
            <% list.items.forEach((item) => { %>
              <li>
                <span><%= item.name %> (Quantity: <%= item.quantity %>)</span>
                <a href="/trips/<%= trip._id %>/lists/<%= list._id %>/edit">Edit</a>
                <form action="/trips/<%= trip._id %>/lists/<%= list._id %>?_method=DELETE" method="POST" style="display:inline;">
                  <button type="submit">Delete</button>
                </form>
              </li>

            <% }) %>
          </ul>
          <% }) %>
        </ul>
          <%  } else { %> 
            <p> No lists made yet</p>
              <% } %>
  
      
  
        <a href="/">Back to Home</a>
      </body>
      </html>



    

    <a href="/trips/<%= trip._id %>/add-list"> Add a new packing list</a>
      <a href="/trips/<%= trip._id %>/edit">Edit Trip</a>

<form action="/trips/<%=trip._id %>?_method=DELETE" method="POST">
  <button type="submit"> Delete Trip</button>

  </body>
</html>